<section class='landing'>
	<article class='rooms'>
		<div class='joinRoom'>
			<h2>Join a room</h2>
			<form method='post'>
				<div>
					<label for='username'>username:</label>
					<input
						type='text'
						id='username'
						name='username'
						placeholder='max. 16 characters'
						minlength='1'
						maxlength='16'
						autocomplete='off'
					/>
				</div>
				<div>
					<label for='roomId'>room id:</label>
					<input type='text' id='roomId' name='roomId' placeholder='6 character code' autocomplete='off' />
				</div>
				<button type='submit'>Ready, set, go!</button>
			</form>
		</div>
		<svg viewBox='0 0 709 445' xmlns='http://www.w3.org/2000/svg'>
			<path
				d='M496.713 393.821C506.46 382.595 514 321.812 514 290.052C514 213.538 460.674 137 369.258 137C267.587 137 221 200.396 221 276.91C221 294.159 248.542 444.199 331.754 444.199C362.638 444.199 397.225 427.495 420.679 413.294C425.483 410.384 430.115 407.58 434.565 405.046C448.686 397.006 457.86 397.641 471.292 398.168C482.757 398.618 492.224 398.99 496.713 393.821ZM446.018 318.254C456.559 310.473 450.702 266.046 448.662 256.376C440.172 216.128 409.419 188.748 364.271 188.748C319.123 188.748 281.066 220.129 281.066 258.84C281.064 315.789 304.215 337.145 314.466 343.717C316.72 345.161 322.441 342.877 331.367 339.312C336.987 337.068 343.877 334.317 351.972 331.67C388.512 319.719 411.762 320.376 426.685 320.798C435.934 321.059 441.985 321.23 446.018 318.254Z'
			></path>
			<path
				d='M691 409C700.941 409 709 400.941 709 391L709 18C709 8.05891 700.941 3.01653e-05 691 2.97308e-05L18 3.13009e-07C8.05889 -1.21532e-07 1.75257e-05 8.05887 1.70912e-05 18L7.86805e-07 391C3.52265e-07 400.941 8.05888 409 18 409L691 409Z'
			></path>
			<path
				d='M468.699 362.027C476.287 352.674 482.157 302.034 482.157 275.573C482.157 211.826 440.641 148.06 369.471 148.06C290.316 148.06 254.047 200.877 254.047 264.624C254.047 278.995 275.489 403.999 340.273 403.999C364.317 403.999 385.794 390.082 404.054 378.251C407.794 375.827 411.4 373.491 414.865 371.38C425.859 364.681 438.45 365.21 448.907 365.649C457.833 366.024 465.204 366.334 468.699 362.027ZM429.23 299.069C437.437 292.587 432.877 255.573 431.289 247.516C424.679 213.983 400.736 191.172 365.587 191.172C330.438 191.172 300.809 217.317 300.809 249.569C300.808 297.016 318.832 314.808 326.812 320.283C328.567 321.486 333.021 319.583 339.971 316.613C344.346 314.744 349.71 312.452 356.012 310.246C384.46 300.289 402.561 300.837 414.179 301.188C421.38 301.406 426.09 301.549 429.23 299.069Z'
			></path>
			<path
				d='M505.25 163.398V370.012H663.552V323.827H555.08V288.278H645.625V245.132H555.08V209.583H663.552V163.398H505.25Z'
			></path>
			<path d='M242.89 163.398H46V209.583H119.226V370.012H169.664V209.583H242.89V163.398Z'></path>
			<path
				d='M287.633 107.297C282.665 116.33 273.331 122.804 260.684 122.804C242.768 122.804 230.273 108.501 230.273 92.2418C230.273 75.3799 242.768 62.2818 260.684 62.2818C273.632 62.2818 283.117 68.4545 287.934 77.7887L308.861 65.5939C299.677 50.2376 282.514 40 260.684 40C228.617 40 205.281 63.7873 205.281 92.2418C205.281 122.503 228.617 145.989 260.684 145.989C282.364 145.989 299.376 134.698 308.56 119.341L287.633 107.297ZM48.2344 41.8066H145.793V64.6906H109.509V144.182H84.5176V64.6906H48.2344V41.8066ZM162.613 41.8066H187.304V144.182H162.613V41.8066ZM354.78 41.8066H452.338V64.6906H416.055V139.1C408.224 136.128 399.886 133.902 391.063 132.535V64.6906H354.78V41.8066ZM531.089 144.182H557.435L513.474 41.8066H485.923L442.112 144.182H468.308L475.083 128.224H524.464L531.089 144.182ZM483.665 108.05L499.924 69.8094L515.883 108.05H483.665ZM614.718 122.804C627.365 122.804 636.699 116.33 641.667 107.297L662.594 119.341C653.41 134.698 636.398 145.989 614.718 145.989C582.651 145.989 559.315 122.503 559.315 92.2418C559.315 63.7873 582.651 40 614.718 40C636.549 40 653.711 50.2376 662.895 65.5939L641.968 77.7887C637.151 68.4545 627.666 62.2818 614.718 62.2818C596.803 62.2818 584.307 75.3799 584.307 92.2418C584.307 108.501 596.803 122.804 614.718 122.804Z'
			></path>
		</svg>
		<div class='createRoom'>
			<h2>Create a room</h2>
			<form method='post'>
				<div>
					<label for='username'>username:</label>
					<input
						type='text'
						id='username'
						name='username'
						placeholder='max. 16 characters'
						autocomplete='off'
					/>
				</div>
				<button type='submit'>Ready, set, go!</button>
			</form>
		</div>
	</article>
	<article class='illustration'>
		<img src='/uploads/splashIllustration.svg' alt='' />
	</article>
</section>