<section class='username'>
	<article class='username_area'>
		<form method='post'>
			<input type='text' name='username' placeholder='enter username' autocomplete='off' />
			<button type='submit'>
				<svg viewBox='0 0 626 456' xmlns='http://www.w3.org/2000/svg'>
					<path
						d='M387.333 2.79985C373.066 10.1332 366.933 26.5332 373.199 39.9998C374.933 43.5998 400.533 69.9998 451.866 121.333C493.733 163.067 527.999 197.733 527.999 198.267C527.999 198.933 414.266 199.333 275.333 199.333C50.2659 199.333 21.9992 199.6 17.5992 201.333C-4.93411 210.8 -4.93411 243.867 17.5992 253.333C21.9992 255.067 50.2659 255.333 275.333 255.333C414.266 255.333 527.999 255.733 527.999 256.267C527.999 256.8 492.933 292.4 450.133 335.333L372.266 413.333L370.799 420.667C366.399 442 385.333 459.6 406.399 454C412.266 452.4 419.466 445.467 516.399 348.8C579.999 285.467 621.333 243.2 622.933 240C626.666 232.8 626.666 221.867 622.933 214.667C618.799 206.8 416.799 5.33318 410.399 2.66651C403.999 0.133179 392.399 0.133179 387.333 2.79985Z'
					></path>
				</svg>
			</button>
		</form>
	</article>
</section>