<main>
    <section>
        <form class='join_create_room' method='post'>
            <button class='room_btn {{#if (eq toggleType 'join-room')}}active{{/if}}' type='submit' name='toggle' value='join-room'>Join a room</button>
            <svg id='logo_1' viewBox='0 0 709 445' xmlns='http://www.w3.org/2000/svg'>
                <path
                    d='M496.713 393.821C506.46 382.595 514 321.812 514 290.052C514 213.538 460.674 137 369.258 137C267.587 137 221 200.396 221 276.91C221 294.159 248.542 444.199 331.754 444.199C362.638 444.199 397.225 427.495 420.679 413.294C425.483 410.384 430.115 407.58 434.565 405.046C448.686 397.006 457.86 397.641 471.292 398.168C482.757 398.618 492.224 398.99 496.713 393.821ZM446.018 318.254C456.559 310.473 450.702 266.046 448.662 256.376C440.172 216.128 409.419 188.748 364.271 188.748C319.123 188.748 281.066 220.129 281.066 258.84C281.064 315.789 304.215 337.145 314.466 343.717C316.72 345.161 322.441 342.877 331.367 339.312C336.987 337.068 343.877 334.317 351.972 331.67C388.512 319.719 411.762 320.376 426.685 320.798C435.934 321.059 441.985 321.23 446.018 318.254Z'
                ></path>
                <path
                    d='M691 409C700.941 409 709 400.941 709 391L709 18C709 8.05891 700.941 3.01653e-05 691 2.97308e-05L18 3.13009e-07C8.05889 -1.21532e-07 1.75257e-05 8.05887 1.70912e-05 18L7.86805e-07 391C3.52265e-07 400.941 8.05888 409 18 409L691 409Z'
                ></path>
                <path
                    d='M468.699 362.027C476.287 352.674 482.157 302.034 482.157 275.573C482.157 211.826 440.641 148.06 369.471 148.06C290.316 148.06 254.047 200.877 254.047 264.624C254.047 278.995 275.489 403.999 340.273 403.999C364.317 403.999 385.794 390.082 404.054 378.251C407.794 375.827 411.4 373.491 414.865 371.38C425.859 364.681 438.45 365.21 448.907 365.649C457.833 366.024 465.204 366.334 468.699 362.027ZM429.23 299.069C437.437 292.587 432.877 255.573 431.289 247.516C424.679 213.983 400.736 191.172 365.587 191.172C330.438 191.172 300.809 217.317 300.809 249.569C300.808 297.016 318.832 314.808 326.812 320.283C328.567 321.486 333.021 319.583 339.971 316.613C344.346 314.744 349.71 312.452 356.012 310.246C384.46 300.289 402.561 300.837 414.179 301.188C421.38 301.406 426.09 301.549 429.23 299.069Z'
                ></path>
                <path
                    d='M505.25 163.398V370.012H663.552V323.827H555.08V288.278H645.625V245.132H555.08V209.583H663.552V163.398H505.25Z'
                ></path>
                <path d='M242.89 163.398H46V209.583H119.226V370.012H169.664V209.583H242.89V163.398Z'></path>
                <path
                    d='M287.633 107.297C282.665 116.33 273.331 122.804 260.684 122.804C242.768 122.804 230.273 108.501 230.273 92.2418C230.273 75.3799 242.768 62.2818 260.684 62.2818C273.632 62.2818 283.117 68.4545 287.934 77.7887L308.861 65.5939C299.677 50.2376 282.514 40 260.684 40C228.617 40 205.281 63.7873 205.281 92.2418C205.281 122.503 228.617 145.989 260.684 145.989C282.364 145.989 299.376 134.698 308.56 119.341L287.633 107.297ZM48.2344 41.8066H145.793V64.6906H109.509V144.182H84.5176V64.6906H48.2344V41.8066ZM162.613 41.8066H187.304V144.182H162.613V41.8066ZM354.78 41.8066H452.338V64.6906H416.055V139.1C408.224 136.128 399.886 133.902 391.063 132.535V64.6906H354.78V41.8066ZM531.089 144.182H557.435L513.474 41.8066H485.923L442.112 144.182H468.308L475.083 128.224H524.464L531.089 144.182ZM483.665 108.05L499.924 69.8094L515.883 108.05H483.665ZM614.718 122.804C627.365 122.804 636.699 116.33 641.667 107.297L662.594 119.341C653.41 134.698 636.398 145.989 614.718 145.989C582.651 145.989 559.315 122.503 559.315 92.2418C559.315 63.7873 582.651 40 614.718 40C636.549 40 653.711 50.2376 662.895 65.5939L641.968 77.7887C637.151 68.4545 627.666 62.2818 614.718 62.2818C596.803 62.2818 584.307 75.3799 584.307 92.2418C584.307 108.501 596.803 122.804 614.718 122.804Z'
                ></path>
            </svg>
            <svg id='logo_2' viewBox='0 0 4179 562' xmlns='http://www.w3.org/2000/svg'>
                <path
                    d='M3751.52 469.859C3768.16 449.359 3781.02 338.359 3781.02 280.359C3781.02 140.631 3690.02 0.859375 3534.02 0.859375C3360.52 0.859375 3281.02 116.631 3281.02 256.359C3281.02 287.859 3328.02 561.859 3470.02 561.859C3522.73 561.859 3569.8 531.355 3609.83 505.421C3618.03 500.108 3625.93 494.987 3633.52 490.359C3657.62 475.676 3685.22 476.836 3708.14 477.799C3727.71 478.621 3743.86 479.3 3751.52 469.859ZM3665.01 331.859C3683 317.651 3673 236.52 3669.52 218.859C3655.04 145.359 3602.56 95.3594 3525.51 95.3594C3448.47 95.3594 3383.52 152.667 3383.52 223.359C3383.52 327.359 3423.03 366.359 3440.52 378.359C3444.37 380.997 3454.13 376.825 3469.36 370.316C3478.95 366.218 3490.71 361.194 3504.52 356.359C3566.88 334.535 3606.55 335.736 3632.02 336.506C3647.8 336.983 3658.13 337.296 3665.01 331.859Z'
                ></path>
                <path
                    d='M3831.64 34.4805V487.36H4178.63V386.128H3940.86V308.206H4139.33V213.634H3940.86V135.712H4178.63V34.4805H3831.64Z'
                ></path>
                <path d='M3256.57 34.4805H2825V135.712H2985.51V487.36H3096.06V135.712H3256.57V34.4805Z'></path>
                <path d='M417.271 41.7216H0V139.528H155.189V479.278H262.082V139.528H417.271V41.7216Z'></path>
                <path d='M594.822 41.7216H489.216V479.278H594.822V41.7216Z'></path>
                <path
                    d='M1023.95 321.629C1002.7 360.237 962.772 387.906 908.681 387.906C832.053 387.906 778.606 326.777 778.606 257.283C778.606 185.214 832.053 129.233 908.681 129.233C964.06 129.233 1004.63 155.615 1025.23 195.51L1114.74 143.389C1075.46 77.7557 1002.05 34 908.681 34C771.522 34 671.712 135.668 671.712 257.283C671.712 386.619 771.522 487 908.681 487C1001.41 487 1074.17 438.74 1113.45 373.107L1023.95 321.629Z'
                ></path>
                <path d='M1728.41 41.7216H1311.14V139.528H1466.33V479.278H1573.22V139.528H1728.41V41.7216Z'></path>
                <path
                    d='M2065.24 479.278H2177.93L1989.9 41.7216H1872.06L1684.68 479.278H1796.72L1825.7 411.071H2036.91L2065.24 479.278ZM1862.4 324.847L1931.95 161.406L2000.21 324.847H1862.4Z'
                ></path>
                <path
                    d='M2538.2 321.629C2516.95 360.237 2477.03 387.906 2422.94 387.906C2346.31 387.906 2292.86 326.777 2292.86 257.283C2292.86 185.214 2346.31 129.233 2422.94 129.233C2478.32 129.233 2518.89 155.615 2539.49 195.51L2629 143.389C2589.72 77.7557 2516.31 34 2422.94 34C2285.78 34 2185.97 135.668 2185.97 257.283C2185.97 386.619 2285.78 487 2422.94 487C2515.67 487 2588.43 438.74 2627.71 373.107L2538.2 321.629Z'
                ></path>
            </svg>
            <button class='room_btn {{#if (eq toggleType 'create-room')}}active{{/if}}' type='submit' name='toggle' value='create-room'>Create a room</button>
        </form>

        <form class='submit_join_create_room' method='post'>
            <div>
                <input 
                    class='join_create' 
                    type='hidden' 
                    name='form_type' 
                    value='{{#if (eq toggleType 'create-room')}}create{{else}}join{{/if}}' 
                />

                <fieldset>
                    <h2 class='hidden_text'>{{#if (eq toggleType 'create-room')}}Create your own room{{else}}Join a room{{/if}}</h2>

                    <div>
                        <label for='username'>Username:</label>
                        <input 
                            type='text' 
                            name='username' 
                            placeholder='max. 16 characters' 
                            minlength='1' 
                            maxlength='16' 
                            autocomplete='off' 
                        />
                    </div>
                    
                    <div class='room_id_container {{#if (eq toggleType 'create-room')}}hide{{/if}}'>
                        <label for='roomId'>Room ID:</label>
                        <input 
                            name='roomId' 
                            placeholder='6 character code' 
                            minlength='6' 
                            maxlength='6' 
                            autocomplete='off' 
                        />
                    </div>
                </fieldset>

                <button type='submit'>Ready, set, go!</button>
            </div>
        </form>
    </section>
    <section>
        <img id='splash1' src='/uploads/splashIllustration.svg' alt='part of tictactoe game board' draggable="false" />
		<img id='splash2' src='/uploads/splashIllustration_2.svg' alt='part of tictactoe game board' draggable="false" />
    </section>
</main>
