<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<meta name='description' content='Realtime TicTacToe' />

		<title>TIC TAC TOE</title>

		<link rel='icon' type='image/x-icon' href='/uploads/favicon.ico' />
		<link rel='preload stylesheet' href='/styles/style.css' as='style' type='text/css' />

		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link href='https://fonts.googleapis.com/css2?family=Manrope:wght@200;400&display=swap' rel='stylesheet' />

		<script src='/socket.io/socket.io.js' type='module'></script>
		<script src='/public/scripts/socket.js' type='module'></script>
		{{#each js}}
			<script src='/scripts/{{this}}.js' type='module'></script>
		{{/each}}
	</head>

	<body class='{{bodyClass}}'>
		{{{body}}}
	</body>
</html>