<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		{{! <link rel='apple-touch-icon' sizes='180x180' href='' />
		<meta name='theme-color' media='(prefers-color-scheme: light)' content='#ffffff' />
		<meta name='theme-color' media='(prefers-color-scheme: dark)' content='#0f0f0f' />
		<meta name="description" content='Rijksmuseum Unveiled Art App' /> }}

		<title>RW ninadepina</title>
		{{! <link rel='icon' type='image/x-icon' href='/static/uploads/favicon.ico' /> }}
		<link rel='preload stylesheet' href='/styles/style.css' as='style' type='text/css' />
		<script src='/socket.io/socket.io.js' defer></script>
		{{!-- <script src='/scripts/socket.js' defer></script> --}}

		{{#each js}}
			<script src='/scripts/{{this}}.js' type='module'></script>
		{{/each}}
	</head>
	<body>
		<main>
			{{{body}}}
		</main>
	</body>
</html>