<div class='loading'></div>

<main class="main_room hide">
	<section class="quiz_area">
		<header>
			<div class="logo">
				<a href="/leave"><span>< Leave</span></a>
				<svg viewBox="0 0 4179 562" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M3751.52 469.859C3768.16 449.359 3781.02 338.359 3781.02 280.359C3781.02 140.631 3690.02 0.859375 3534.02 0.859375C3360.52 0.859375 3281.02 116.631 3281.02 256.359C3281.02 287.859 3328.02 561.859 3470.02 561.859C3522.73 561.859 3569.8 531.355 3609.83 505.421C3618.03 500.108 3625.93 494.987 3633.52 490.359C3657.62 475.676 3685.22 476.836 3708.14 477.799C3727.71 478.621 3743.86 479.3 3751.52 469.859ZM3665.01 331.859C3683 317.651 3673 236.52 3669.52 218.859C3655.04 145.359 3602.56 95.3594 3525.51 95.3594C3448.47 95.3594 3383.52 152.667 3383.52 223.359C3383.52 327.359 3423.03 366.359 3440.52 378.359C3444.37 380.997 3454.13 376.825 3469.36 370.316C3478.95 366.218 3490.71 361.194 3504.52 356.359C3566.88 334.535 3606.55 335.736 3632.02 336.506C3647.8 336.983 3658.13 337.296 3665.01 331.859Z"></path>
							<path
								d="M3831.64 34.4805V487.36H4178.63V386.128H3940.86V308.206H4139.33V213.634H3940.86V135.712H4178.63V34.4805H3831.64Z"></path>
							<path
								d="M3256.57 34.4805H2825V135.712H2985.51V487.36H3096.06V135.712H3256.57V34.4805Z"></path>
							<path
								d="M417.271 41.7216H0V139.528H155.189V479.278H262.082V139.528H417.271V41.7216Z"></path>
							<path d="M594.822 41.7216H489.216V479.278H594.822V41.7216Z"></path>
							<path
								d="M1023.95 321.629C1002.7 360.237 962.772 387.906 908.681 387.906C832.053 387.906 778.606 326.777 778.606 257.283C778.606 185.214 832.053 129.233 908.681 129.233C964.06 129.233 1004.63 155.615 1025.23 195.51L1114.74 143.389C1075.46 77.7557 1002.05 34 908.681 34C771.522 34 671.712 135.668 671.712 257.283C671.712 386.619 771.522 487 908.681 487C1001.41 487 1074.17 438.74 1113.45 373.107L1023.95 321.629Z"></path>
							<path
								d="M1728.41 41.7216H1311.14V139.528H1466.33V479.278H1573.22V139.528H1728.41V41.7216Z"></path>
							<path
								d="M2065.24 479.278H2177.93L1989.9 41.7216H1872.06L1684.68 479.278H1796.72L1825.7 411.071H2036.91L2065.24 479.278ZM1862.4 324.847L1931.95 161.406L2000.21 324.847H1862.4Z"></path>
							<path
								d="M2538.2 321.629C2516.95 360.237 2477.03 387.906 2422.94 387.906C2346.31 387.906 2292.86 326.777 2292.86 257.283C2292.86 185.214 2346.31 129.233 2422.94 129.233C2478.32 129.233 2518.89 155.615 2539.49 195.51L2629 143.389C2589.72 77.7557 2516.31 34 2422.94 34C2285.78 34 2185.97 135.668 2185.97 257.283C2185.97 386.619 2285.78 487 2422.94 487C2515.67 487 2588.43 438.74 2627.71 373.107L2538.2 321.629Z"></path>
				</svg>
				<div class="container_users">
					<p><span></span> user(s) in room</p>
					<div class="user_dropdown">
						<ul></ul>
					</div>
				</div>
			</div>
			<div class="roomId">
				<h2>Room ID: <span tabindex="0" data-tooltip="">{{roomId}}</span></h2>
			</div>
		</header>
		<h2 class="tictactoe_status"></h2>
		<div id="tictactoe_bigcont">
			<h2 id="tictactoe_countdown">3</h2>
			<button id="tictactoe_start" disabled>start game</button>
		</div>
	</section>
	<section class="chat_area">
		<p id="typing"></p>
		<ul class="messages"></ul>
		<form class="chat_form" method="post">
			<div class="gif_container">
				<div class="gif_search_container">
					<input type="text" id="gif_input" placeholder="Search for your favorite GIF here..." autocomplete="off" />
					<button id="gif_search">
						<svg viewBox="0 0 512.000000 512.000000">
									<g
										transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
										stroke="none">
										<path
											d="M2200 4704 c-308 -35 -498 -88 -720 -199 -185 -93 -323 -190 -473
							   -334 -606 -582 -765 -1489 -390 -2236 410 -816 1319 -1232 2199 -1005 242 63
							   451 165 700 345 11 7 111 -87 426 -401 456 -454 455 -453 560 -441 132 16 213
							   142 178 274 -12 44 -46 81 -429 466 -317 318 -413 421 -406 431 195 268 309
							   518 371 808 32 153 44 440 25 594 -34 272 -125 542 -256 759 -202 333 -475
							   583 -820 750 -189 91 -345 140 -543 170 -97 15 -356 27 -422 19z m433 -453
							   c392 -83 718 -302 938 -629 340 -506 340 -1155 2 -1666 -90 -136 -273 -319
							   -409 -409 -284 -188 -614 -274 -947 -247 -526 43 -980 347 -1214 813 -346 690
							   -118 1522 533 1939 164 105 397 189 605 218 109 15 381 5 492 -19z" />
									</g>
						</svg>
					</button>
				</div>
				<ul></ul>
			</div>
			<p class="gifs">GIFS</p>
			<input class="chat_input" type="text" placeholder="Write a message..." autocomplete="off" />
			<button class="chat_submit" type="submit">
				<svg viewBox="0 0 611 578" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M564.668 1.7333C560.268 3.3333 35.6014 278 19.3348 287.333C-7.99858 303.067 -5.73191 342.4 23.2014 353.2C30.9348 356 213.468 418.667 214.135 418.667C214.268 418.667 214.668 448.267 214.935 484.267C215.335 547.867 215.468 550.133 218.135 556.133C224.801 570.533 236.135 578 251.335 578C258.401 578 262.135 577.2 266.668 575.067C270.001 573.333 294.001 553.067 320.001 529.867C346.001 506.667 370.401 485.067 374.135 481.867L380.935 476L439.468 496.267C494.268 515.2 498.668 516.533 508.001 516.533C515.735 516.533 519.201 516 523.468 513.733C529.868 510.267 538.135 501.467 540.801 495.2C542.935 490 610.668 45.0666 610.668 35.8666C610.668 28 607.601 19.0666 602.801 13.2C594.401 3.06664 576.801 -2.2667 564.668 1.7333ZM510.535 79.6C508.801 81.6 445.335 148 369.468 227.2C293.601 306.533 230.268 372.8 228.668 374.533L225.601 377.6L192.535 366.267C174.268 360 138.001 347.6 112.001 338.667C54.1348 318.933 52.9348 318.533 54.2681 317.333C54.8014 316.8 70.4014 308.533 88.6681 298.933C107.068 289.333 209.868 235.2 317.335 178.8C424.801 122.4 512.935 76.1333 513.201 76.1333C513.601 76 512.401 77.6 510.535 79.6ZM531.201 281.467C515.468 385.867 502.268 471.467 502.001 471.733C501.601 472.267 272.001 393.733 270.935 392.8C270.668 392.4 335.468 324.4 414.801 241.467C494.268 158.667 559.468 91.0666 559.601 91.2C559.868 91.4666 547.068 177.067 531.201 281.467ZM295.868 446.8C315.335 453.467 331.868 459.333 332.401 459.867C333.335 460.8 261.735 525.467 258.668 526.4C257.735 526.8 257.335 511.2 257.335 480.8C257.335 446.4 257.735 434.667 258.935 434.667C259.735 434.667 276.401 440.133 295.868 446.8Z"></path>
				</svg>
			</button>
		</form>
	</section>
</main>
