.landing {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 2rem 3rem 0 3rem;
	transition: padding 350ms ease-in-out;
}

.landing main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.landing main > section:first-of-type {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.landing .join_create_room {
	display: flex;
	flex-wrap: wrap;
}
.landing .join_create_room svg {
	order: -1;
	flex-basis: 100%;
}

.landing .join_create_room button {
	position: relative;

	flex-basis: 50%;
	margin-top: 1.65rem;
	padding: 1rem 0;
	font-family: var(--font-family-2);
	font-size: 1.2rem;
	text-align: center;
	white-space: nowrap;
	color: var(--accent-color);
	background-color: var(--bg-color);
	border: 2px solid var(--accent-color);
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
}
.landing .join_create_room button:before,
.landing .join_create_room button:after {
	content: '';
	position: absolute;
	left: 0;
	height: 0;
	width: 100%;
	transition: inherit;
	z-index: -1;
}
.landing .join_create_room button:before {
	top: 0;
}
.landing .join_create_room button:after {
	bottom: 0;
	height: 0;
}
.landing .join_create_room button:not(.active):hover {
	color: var(--bg-color);
	background-color: transparent;
	border: 2px solid #7ba6fb;
}
.landing .join_create_room button:hover::before,
.landing .join_create_room button:hover::after {
	height: 100%;
}
.landing .join_create_room button:not(.active):hover::after {
	background-color: #7ba6fb;
}
.landing .join_create_room button[value='join-room']:not(.active):hover::after {
	border-radius: 0.6rem 0 0 0.6rem;
}
.landing .join_create_room button[value='create-room']:not(.active):hover::after {
	border-radius: 0 0.6rem 0.6rem 0;
}

.landing .join_create_room button.active {
	color: var(--bg-color);
	background-color: var(--accent-color);
}

.landing .join_create_room button[value='join-room'] {
	border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.landing .join_create_room button[value='join-room']:not(.active):hover {
	border-right: none;
}
.landing .join_create_room button[value='create-room'] {
	border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
.landing .join_create_room button[value='create-room']:not(.active):hover {
	border-left: none;
}

.landing .submit_join_create_room {
	position: relative;
	width: 100%;
	padding: 0;
	background-color: transparent;
}

.landing fieldset > div {
	display: flex;
	align-items: center;
	gap: 1.25rem;
	padding: 0 0.45rem 0.45rem 0.45rem;
	background-color: var(--bg-color);
	border-bottom: 2px solid var(--accent-color);
	transition: padding 350ms ease-in-out;
}
.landing fieldset > div:first-of-type {
	padding-top: 0.7rem;
}
.landing fieldset .room_id_container {
	padding-top: 1rem;
}

.landing form input {
	width: 100%;
	border: none;
}
.landing form input::placeholder {
	color: var(--text-placeholder-color);
}

.landing label,
.landing .submit_join_create_room button {
	text-transform: uppercase;
}

.landing label {
	color: var(--accent-color);
	font-family: var(--font-family-2);
	white-space: nowrap;
}

.landing .submit_join_create_room button {
	width: 100%;
	margin-top: 1rem;
	padding: 0.325rem 2.25rem;
	color: var(--accent-color);
	font-weight: 400;
	text-align: center;
	background-color: var(--bg-color);
	border: 2px solid var(--accent-color);
	transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
}
.landing .submit_join_create_room button:hover,
.landing .submit_join_create_room button:focus-visible {
	color: var(--bg-color);
	background-color: var(--accent-color);
}

.landing svg {
	width: 100%;
	fill: none;
	z-index: 99;
}
.landing svg#logo_1 {
	display: none;
}
.landing svg#logo_2 {
	display: block;
	flex-basis: 100%;
	margin-bottom: -2rem;
	fill: var(--accent-color);
}
.landing svg#logo_1 path:nth-child(-n + 2) {
	fill: var(--accent-color);
}
.landing svg#logo_1 path:nth-child(n + 3) {
	fill: var(--bg-color);
}
.landing svg#logo_1 path:nth-child(2n + 1):nth-child(-n + 3),
.landing svg#logo_1 path:nth-child(6),
.landing svg#logo_2 path:first-of-type {
	fill-rule: evenodd;
	clip-rule: evenodd;
}

.landing main > section:last-of-type {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.landing main > section:last-of-type img {
	width: 100%;
}
.landing main > section:last-of-type img#splash1 {
	display: block;
}
.landing main > section:last-of-type img#splash2 {
	display: none;
	max-width: 37.75rem;
}

@media screen and (min-width: 600px) {
	.landing {
		padding: 4rem 6rem 0 6rem;
	}
	.landing main > section:last-of-type img#splash1 {
		display: none;
	}
	.landing main > section:last-of-type img#splash2 {
		display: block;
	}
}
@media screen and (min-width: 1000px) {
	.landing {
		padding: 8rem 12rem 0 12rem;
	}
}
@media screen and (min-width: 1185px) {
	.landing {
		padding: 8rem 20rem 0 20rem;
	}
}
@media screen and (min-width: 1260px) {
	.landing fieldset > div {
		padding: 0 1rem 0.45rem 2.25rem;
	}
}
@media screen and (min-width: 1399px) {
	.landing {
		padding: 7rem 5rem 0 5rem;
	}
	.landing main > section:first-of-type {
		display: block;
	}
	.landing .join_create_room {
		flex-wrap: nowrap;
		flex-direction: row;
		align-items: flex-start;
	}
	.landing .join_create_room svg {
		order: 0;
		flex-basis: unset;
	}
	.landing .join_create_room button {
		flex-basis: unset;
		width: 77.7%;
		padding: 0.86rem 3rem;
		font-size: 1.5rem;
	}
	.landing .join_create_room button[value='join-room'] {
		border-right: none;
		border-radius: var(--border-radius) 0 0 var(--border-radius);
	}
	.landing .join_create_room button[value='create-room'] {
		border-left: none;
		border-radius: 0 var(--border-radius) var(--border-radius) 0;
	}

	.landing .submit_join_create_room {
		display: flex;
		margin-top: -11rem;
	}

	.landing .submit_join_create_room button {
		width: fit-content;
	}
	.landing .join_create_room:has(button[value='join-room'].active) + .submit_join_create_room {
		justify-content: flex-start;
	}
	.landing .join_create_room:has(button[value='join-room'].active) + .submit_join_create_room button {
		align-self: flex-end;
		border-right: none;
		border-radius: var(--border-radius) 0 0 var(--border-radius);
	}
	.landing .join_create_room:has(button[value='create-room'].active) + .submit_join_create_room {
		justify-content: flex-end;
	}
	.landing .join_create_room:has(button[value='create-room'].active) + .submit_join_create_room button {
		align-self: flex-start;
		border-left: none;
		border-radius: 0 var(--border-radius) var(--border-radius) 0;
	}

	.landing .submit_join_create_room > div {
		display: flex;
		flex-direction: column;
		width: 32.34%;
		min-width: 25.875rem;
	}
	.landing svg#logo_1 {
		display: block;
	}
	.landing svg#logo_2 {
		display: none;
	}
	.landing main > section:last-of-type img#splash1 {
		display: block;
		max-height: 36.5vh;
	}
	.landing main > section:last-of-type img#splash2 {
		display: none;
	}
}
