section.room {
	display: grid;
	grid-template-columns: 2.5fr 1fr;
	min-height: 100%;
}

.quiz_area header {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.quiz_area .logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 10vh;
	max-height: 100px;
	background-color: var(--accent-color);
}
.quiz_area .logo svg {
	width: 30%;
	fill: none;
}
.quiz_area .logo path {
	fill: #fff;
}
.quiz_area .logo path:first-of-type {
	fill-rule: evenodd;
	clip-rule: evenodd;
}

.quiz_area .roomId {
	width: fit-content;
	padding: 0.25rem 2.25rem;
	background-color: var(--accent-color-other);
	border-radius: 0 0 var(--border-radius-chat) var(--border-radius-chat);
}
.quiz_area .roomId h2 {
	color: var(--text-color-other);
	font-size: 1.2rem;
	text-transform: uppercase;
}

.chat_area {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	height: 100%;
	padding: 1.25rem;
	background-color: var(--chat-bg-color);
}

.chat_area ul {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 0.5rem;
	height: 100%;
}
.chat_area ul li {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	align-self: center;
	width: fit-content;
	max-width: 90%;
	margin: 0.25rem 0;
	padding: 0.8rem;
}
.chat_area ul li.currentUser {
	align-self: flex-end;
	color: var(--chat-bubble-text-color);
	background-color: var(--chat-bubble-color-own);
	border-radius: var(--border-radius) 0 var(--border-radius) var(--border-radius);
}
.chat_area ul li.otherUser {
	align-self: flex-start;
	color: var(--text-color);
	background-color: var(--chat-bubble-color-other);
	border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);
}
.chat_area ul li.server {
	align-self: center;
	margin: 0;
	padding: 0;
	font-size: 0.725rem;
	color: var(--chat-bubble-color-own);
}

.chat_area ul li div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.725rem;
}
.chat_area ul li div h3 {
	font-size: 1rem;
	font-weight: 400;
}
.chat_area ul li div h4 {
	font-size: 0.88rem;
	color: var(--text-placeholder-color);
}

.chat_area ul li p {
	font-size: 1rem;
	overflow-wrap: anywhere;
}

.chat_area form {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 0.425rem;
	background-color: var(--chat-input-color);
	border-radius: var(--border-radius);
}
.chat_area form input {
	flex-grow: 1;
	min-height: 2.775rem;
	padding-left: 0.725rem;
	color: var(--text-color);
	background-color: transparent;
	border: none;
}
.chat_area form input::placeholder {
	color: var(--text-placeholder-color);
}
.chat_area button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2.775rem;
	height: 2.775rem;
	background-color: var(--accent-color);
	border: 2px solid transparent;
	border-radius: var(--border-radius-chat);
	transition: background-color 150ms ease-in-out, border 150ms ease-in-out;
}
.chat_area button:hover {
	background-color: transparent;
	border: 2px solid var(--accent-color);
}
.chat_area button svg {
	width: calc(40% + 4px);
	height: calc(40% + 4px);
	fill: none;
}
.chat_area button svg path {
	fill: var(--chat-input-color);
	transition: fill 150ms ease-in-out;
}
.chat_area button:hover svg path {
	fill: var(--accent-color);
}