/* loading animation */
.room .loading {
	opacity: 1;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	color: var(--text-color-other);
	background-color: var(--accent-color);
	pointer-events: none;
	z-index: 99;
}
.room .loading::before {
	opacity: 0.6;
	content: '';
	position: absolute;
	inset: 0;
	background: url('/public/uploads/bg.png') no-repeat center center / cover fixed;
	z-index: 98;
}

/* ----------------------------------------------- */
.room .main_room {
	display: grid;
	grid-template-columns: 2.5fr 1fr;
	min-height: 100vh;
}

/* TicTacToe area */
.room .quiz_area header {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.room .quiz_area .logo {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 10vh;
	max-height: 100px;
	background-color: var(--accent-color);
}
.room .quiz_area .logo a[href='/leave'] {
	position: absolute;
	top: 50%;
	left: 2rem;
	font-weight: 900;
	text-transform: uppercase;
	color: var(--text-color-other);
	transform: translateY(-50%);
	user-select: none;
}
.room .quiz_area .logo a[href='/leave'] span {
	position: relative;
	display: inline-block;
}
.room .quiz_area .logo a[href='/leave'] span::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0.7px;
	background-color: var(--text-color-other);
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform 250ms ease-out;
}
.room .quiz_area .logo a[href='/leave'] span:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.room .quiz_area .logo svg {
	width: 30%;
	min-width: 12rem;
	fill: none;
}
.room .quiz_area .logo path {
	fill: #fff;
}
.room .quiz_area .logo path:first-of-type {
	fill-rule: evenodd;
	clip-rule: evenodd;
}

.room .quiz_area .roomId {
	width: fit-content;
	padding: 0.25rem 2rem 0.25rem 2.25rem;
	color: var(--text-color-other);
	background-color: var(--accent-color-other);
	border-radius: 0 0 var(--border-radius-chat) var(--border-radius-chat);
}
.room .quiz_area .roomId h2 {
	font-size: 1.2rem;
	text-transform: uppercase;
	color: var(--text-color-other);
}
.room .quiz_area .roomId h2 span {
	position: relative;
	display: inline-block;
	margin-left: -0.25rem;
	padding: 0 0.25rem;
	transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
	cursor: pointer;
}
.room .quiz_area .roomId h2 span::after {
	content: attr(data-tooltip);
	position: absolute;
	right: 20%;
	bottom: -77%;
	width: fit-content;
	padding: 0 6px;
	font-size: 0.75rem;
	text-align: center;
	white-space: nowrap;
	color: var(--text-color-other);
	background-color: var(--accent-color-other);
	border-radius: 0 0 4px 4px;
	z-index: 97;
}
.room .quiz_area .roomId h2 span:hover,
.room .quiz_area .roomId h2 span:focus-visible {
	color: var(--accent-color-other);
	background-color: var(--text-color-other);
}

.room .quiz_area #tictactoe_bigcont {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.8rem;
	width: 100%;
	height: calc(100% - 7.2rem);
	padding: 3rem 2rem 2rem 2rem;
}
.room .quiz_area #tictactoe_bigcont::before,
.room .quiz_area #tictactoe_bigcont::after {
	content: '';
	position: absolute;
	top: 5rem;
	display: inline-block;
	width: 40px;
	height: 20px;
	background-size: 40px 20px;
}
.room .quiz_area #tictactoe_bigcont::before {
	left: 26%;
}
.room .quiz_area #tictactoe_bigcont.X::before {
	background-image: url('/public/uploads/arrow.svg');
}
.room .quiz_area #tictactoe_bigcont::after {
	right: 26%;
	transform: scaleX(-1);
}
.room .quiz_area #tictactoe_bigcont.O::after {
	background-image: url('/public/uploads/arrow.svg');
}

.room .quiz_area #tictactoe_start {
	margin-top: -2.125rem;
	padding: 1rem;
	color: var(--text-color-other);
	font-family: var(--font-family-2);
	font-size: 1rem;
	text-transform: uppercase;
	background-color: var(--accent-color);
	border: 2px solid transparent;
	border-radius: var(--border-radius-chat);
	transition: background-color 150ms ease-in-out, border 150ms ease-in-out;
	user-select: none;
}
.room .quiz_area #tictactoe_start:hover {
	color: var(--accent-color);
	background-color: transparent;
	border: 2px solid var(--accent-color);
}
.room .quiz_area #tictactoe_start:disabled {
	position: relative;
	color: var(--text-color-other);
	text-decoration: line-through;
	background-color: #919597;
	user-select: none;
	pointer-events: none;
}
.room .quiz_area #tictactoe_start:disabled:after {
	content: 'needs a minimum of 2 players in the room';
	position: absolute;
	bottom: -2.6rem;
	left: -0.1rem;
	font-family: var(--font-family);
	font-size: 0.8rem;
	color: #919597;
}

.room .quiz_area #tictactoe_clear {
	visibility: hidden;
	color: var(--accent-color);
	background-color: transparent;
}

.room .quiz_area #tictactoe_info {
	position: relative;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	gap: 0.8rem;
	width: 402px;
	padding: 0.5rem;
	color: var(--chat-bubble-text-color);
	background-color: var(--accent-color);
	border-radius: var(--border-radius-chat);
	user-select: none;
}
.room .quiz_area #tictactoe_info::before,
.room .quiz_area #tictactoe_info::after {
	content: '';
	position: absolute;
	bottom: -0.8rem;
	width: 1.6rem;
	height: 0.8rem;
	border: 0.4rem solid var(--accent-color);
	border-top: none;
	border-bottom: none;
}
.room .quiz_area #tictactoe_info::before {
	left: 3.66rem;
}
.room .quiz_area #tictactoe_info::after {
	right: 3.86rem;
}

.room .quiz_area #tictactoe_info > p {
	font-family: var(--font-family-2);
}
.room .quiz_area #tictactoe_info span {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
.room .quiz_area #tictactoe_info span:first-of-type {
	margin: auto 0 auto auto;
}
.room .quiz_area #tictactoe_info span:last-of-type {
	margin: auto auto auto 0;
}
.room .quiz_area #tictactoe_info span p {
	max-width: 134.88px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.room .quiz_area #tictactoe_info img {
	width: 1.4rem;
}

.room .quiz_area #tictactoe_cont {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	width: fit-content;
	height: fit-content;
	padding: 1rem;
	background-color: var(--chat-bg-color);
	border: 1px solid transparent;
	border-radius: var(--border-radius);
}
.room .quiz_area #tictactoe_cont.border {
	border: 1px solid var(--accent-color);
}

.room .quiz_area #tictactoe_cont .cell {
	display: grid;
	place-items: center;
	width: 7rem;
	height: 7rem;
	background: url('/public/uploads/tictactoe_bg.svg') no-repeat center center / contain;
	border: 1px solid transparent;
	border-radius: var(--border-radius-chat);
	transition: border 150ms ease-in-out;
	user-select: none;
}
.room .quiz_area #tictactoe_cont .cell:hover,
.room .quiz_area #tictactoe_cont .cell:focus-visible {
	border-color: var(--accent-color);
}
.room .quiz_area #tictactoe_cont .cell:disabled {
	cursor: auto;
}
.room .quiz_area #tictactoe_cont .cell:disabled:hover,
.room .quiz_area #tictactoe_cont .cell:disabled:focus-visible {
	border-color: transparent;
}

.room .quiz_area #tictactoe_cont .cell img {
	width: 75%;
}

.room .quiz_area #tictactoe_countdown {
	display: none;
	margin-top: -2.125rem;
	font-family: var(--font-family-2);
	font-size: 8rem;
	color: var(--accent-color);
	user-select: none;
}

/* chat area */
.room .chat_area {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	height: 45.4rem;
	padding: 1.25rem calc(1.25rem - var(--scrollbar-size) - 0.75rem) 1.25rem 1.25rem;
	background-color: var(--chat-bg-color);
}

.room .chat_area #typing {
	position: absolute;
	bottom: 5.5rem;
	left: 2.4rem;
	font-size: 0.725rem;
	color: var(--accent-color-other);
}

.room .chat_area .tictactoe_start {
	position: fixed;
	top: 0;
}

.room .chat_area ul {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	height: 100%;
	padding-right: 0.5rem;
	margin: 0.25rem;
	overflow-y: scroll;
	scrollbar-width: var(--scrollbar-size);
}
.room .chat_area ul::-webkit-scrollbar {
	background-color: var(--chat-bg-color);
}
.room .chat_area ul::-webkit-scrollbar-thumb {
	border-radius: 100px;
	background-color: #b9b9b9;
	background-color: var(--accent-color-other);
	border: 3px solid var(--chat-bg-color);
}

.room .chat_area ul li {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	align-self: center;
	width: fit-content;
	max-width: 90%;
	margin: 0.25rem 0;
	padding: 0.8rem;
	overflow-wrap: break-word;
}
.room .chat_area ul li.currentUser {
	align-self: flex-end;
	color: var(--chat-bubble-text-color);
	background-color: var(--chat-bubble-color-own);
	border-radius: var(--border-radius) 0 var(--border-radius) var(--border-radius);
}
.room .chat_area ul li.otherUser {
	align-self: flex-start;
	color: var(--text-color);
	background-color: var(--chat-bubble-color-other);
	border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);
}
.room .chat_area ul li.double {
	margin-top: 0 !important;
}
.room .chat_area ul li.server {
	align-self: center;
	margin: 0;
	padding: 0;
	font-size: 0.725rem;
	color: var(--chat-bubble-color-own);
}
.room .chat_area ul li.server_game_result div {
	justify-content: center !important;
}
.room .chat_area ul li.server_game_result h2 {
	padding-bottom: 0.1rem;
	font-family: var(--font-family-2);
	font-size: 1rem;
	text-decoration: uppercase;
}
.room .chat_area ul li.server_game_result,
.room .chat_area ul li.server_game {
	align-self: center;
	width: 100%;
	max-width: none;
	padding: 0.5rem;
	color: var(--chat-bubble-text-color);
	background-color: var(--accent-color);
	border-radius: var(--border-radius-chat);
	user-select: none;
}
.room .chat_area ul li.server_game div {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	gap: 0.8rem;
}
.room .chat_area ul li.server_game div > p {
	font-family: var(--font-family-2);
}
.room .chat_area ul li.server_game span {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
.room .chat_area ul li.server_game span:first-of-type {
	margin: auto 0 auto auto;
}
.room .chat_area ul li.server_game span:last-of-type {
	margin: auto auto auto 0;
}
.room .chat_area ul li.server_game span p {
	max-width: 117px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.room .chat_area ul li.server_game img {
	width: 1.4rem;
	height: 1.4rem;
}

.room .chat_area ul li.server_game_state {
	width: 100%;
	max-width: none;
	padding: 0;
}
.room .chat_area ul li.server_game_state img {
	max-width: 22.526875rem;
	border-radius: var(--border-radius-chat);
	user-select: none;
}

.room .chat_area ul li div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.725rem;
}
.room .chat_area ul li div h3 {
	font-size: 1rem;
	font-weight: 400;
}
.room .chat_area ul li div h4 {
	font-size: 0.88rem;
	color: var(--text-placeholder-color);
}

.room .chat_area ul li:not(.server) p {
	font-size: 1rem;
	overflow-wrap: anywhere;
}

.room .chat_area form {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-right: calc(var(--scrollbar-size) + 0.75rem);
	padding: 0.425rem;
	background-color: var(--chat-input-color);
	border-radius: var(--border-radius);
}
.room .chat_area form input {
	flex-grow: 1;
	min-height: 2.775rem;
	padding-left: 0.725rem;
	color: var(--text-color);
	background-color: transparent;
	border: none;
}
.room .chat_area form input::placeholder {
	color: var(--text-placeholder-color);
}
.room .chat_area button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2.775rem;
	height: 2.775rem;
	background-color: var(--accent-color);
	border: 2px solid transparent;
	border-radius: var(--border-radius-chat);
	transition: background-color 150ms ease-in-out, border 150ms ease-in-out;
}
.room .chat_area button:hover {
	background-color: transparent;
	border: 2px solid var(--accent-color);
}
.room .chat_area button svg {
	width: calc(40% + 4px);
	height: calc(40% + 4px);
	fill: none;
}
.room .chat_area button svg path {
	fill: var(--chat-input-color);
	transition: fill 150ms ease-in-out;
}
.room .chat_area button:hover svg path {
	fill: var(--accent-color);
}
